@font-face {
  font-family: 'Helvetica-CE';
  src: url('/public/Helvetica-CE-Bold.otf');
}
@font-face {
  font-family: 'Helvetica';
  src: url('/public/HelveticaInseratLTStd-Roman.otf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root,
html,
body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply m-0 leading-[normal];
  height: 100%;
  width: 100%;
}

*,
::before,
::after {
  border-width: 0;
  box-sizing: border-box;
}
